<div class="administration" xmlns:th="http://www.thymeleaf.org" th:fragment="administration">

	<div class="col-md-6 col-md-offset-3" xmlns:th="http://www.thymeleaf.org" th:fragment="add_application_user">
		<form id="addApplicationUserForm" action="/addApplicationUser" enctype="multipart/form-data" th:object="${applicationUser}">


			<div class="form-group row">
				<fieldset>
					<legend>Add application user</legend>
					<label class="form-control-label col-sm-2" for="username">Username</label>
					<div class="col-sm-4">
						<input required="required" type="text" id="username" name="username" class="form-control" th:value="*{username}" th:field="${applicationUser.username}" />
					</div>

				</fieldset>
			</div>

			<div class="form-group row">
				<label class="form-control-label col-sm-2" for="password">Password</label>
				<div class="col-sm-4">
					<input required="required" id="password" name="password" type="password" placeholder="" class="form-control" th:value="*{password}" th:field="${applicationUser.password}" />
				</div>

				<label class="form-control-label col-sm-2" for="passwordConfirm">Confirm password</label>
				<div class="col-sm-4">
					<input required="required" id="passwordConfirm" name="passwordConfirm" type="password" placeholder="" class="form-control" />
				</div>
			</div>

			<!-- Button -->
			<div class="control-group">
				<label class="control-label" for="saveApplicationUserButton"></label>
				<div class="controls">
					<button id="saveApplicationUserButton" name="saveApplicationUserButton" class="btn btn-primary">Add application user</button>
				</div>

			</div>
		</form>
		
		<div class="row form-inline">
			<fieldset>
				<legend>Application users</legend>
				<table id="table-transform" class="table table-striped content" data-toggle="table" style="table-layout: fixed;" data-sort-name="users_sort" data-sort-order="desc">
					<thead>
						<tr>
							<th class="unique_value">ID</th>
							<th data-field="username" data-sortable="true">Username</th>

							<th class="text-center">Delete</th>
						</tr>
					</thead>
					<tbody class="searchable">
						<tr class="row_main_info" th:each="applicationUser : ${applicationUsers}" th:object="${applicationUser}">
							<td class="unique_value" th:text="*{_id}"></td>
							<td class="username" th:text="*{username}"></td>

							<td class="icons_collumn"><span class="glyphicon glyphicon-trash img-circle delete_application_user_icon" aria-hidden="true"></span></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>

	<script type="text/javascript">
		$("#saveApplicationUserButton")
				.click(
						function() {
							if ($('#password').val() === $('#passwordConfirm').val()) {
								
								var frm = $('#addApplicationUserForm');
								frm.submit(function(ev) {
									$.ajax({
										type : frm.attr('method'),
										url : frm.attr('action'),
										data : frm.serialize(),
										success : function(data) {
											$("#main_content").hide().html(
													data).fadeIn('slow');
										}
									});
									ev.preventDefault();
								});
								
							} else {
								alert("Passwords dont match!");
							}
		});

		$(".administration").on(
				'click',
				'.delete_application_user_icon',
				function(e) {
					event.stopPropagation();
					var id = $(this).parent().siblings(".unique_value").html();
					$.post("/deleteApplicationUser", {
						userID : id
					}, function(data, status) {
						var content = '<div id="main_content">' + data
								+ '</div>'
						$("#main_content").html(data);
					});

				});
	</script>
</div>