<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Syncro DataBase</title>
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico" th:href="@{/images/favicon.ico}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
		<link rel="stylesheet" type="text/css" media="all"  href="../../css/signing.css" th:href="@{/css/signing.css}" />
    </head>
    <body>

		<form th:action="@{#}" class="form-signin"  method="post">
			<h2 class="form-signin-heading">Syncro DataBase</h2>

	        <div th:if="${param.logout}" class="alert alert-info">
				<strong>You have been logged out.</strong> 
			</div>
	  		<div th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"  class="alert alert-danger">
	            <strong th:text="${errorMsg}">Invalid user name and/or password.</strong> 
	        </div>
			<label for="username" class="sr-only">User name</label> 
			<input type="text" id="username" name="username" class="form-control" placeholder="Email address" required="required" autofocus="autofocus"></input>
			
			<label for="inputPassword" class="sr-only">Password</label> 
			<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required"></input>

			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
		</form>
    </body>
</html>